.typst-inline {
  display: inline flex;
  vertical-align: bottom;
}

.typst-display {
  display: block flex;
  justify-content: center;
  padding: 1em 0;
}

.typst-display > .typst-doc {
  transform: scale(1.5);
}

/* Theme support */
.typst-doc {
  color: var(--fg);
}
